.gallery {

	&__image-hover {
		transition: all 0.5s ease-out;
	}

	&__image-hover:hover {
		-webkit-transform: scale(0.85);
		-ms-transform: scale(0.85);
		-o-transform: scale(0.85);
		transform: scale(0.85);
		opacity: 0.5;
	}
}