.news {
	background: url("../../assets/images/news.jpg") no-repeat fixed;
	background-size: cover;
	position: relative;
	max-width: 100%;
	height: 450px;

	&__bg-color {
		background-color: rgba(0,0,0, 0.8);
		height: 450px;
	}

	&__font-weight {
		font-weight: 800;
	}

	&--index {
		z-index: -1;
	}
}